<footer class="footer">
  <div class="socials">
    <a
      target="_blank"
      class="facebook"
      href="https://www.facebook.com/csgodoubledotcom"
    ></a>
    <a
      href="https://twitter.com/CSGODouble"
      target="_blank"
      class="twitter"
    ></a>
    <a
      href="https://steamcommunity.com/groups/CSGODoubleCO"
      target="_blank"
      class="steam"
    ></a>
  </div>
  <div class="info">
    <span
      >Copyright © {{ today | date : "yyyy" }}, CSGODouble.com - All rights
      reserved.</span
    >
    <span class="info__details">
      <a href="#">Terms of Service</a>
      <a href="#">FAQ</a>
      <a href="#">Contact Us</a>
      <a href="#">Powered by Steam</a>
    </span>
  </div>
  <div class="steam-analyst">
    <a href="https://csgo.steamanalyst.com/">
      <img src="/assets/img/steam-analyst.webp" alt="Steam Analyst" />
    </a>
  </div>
</footer>
