<nav class="nav">
  <div class="nav-con">
    <div class="nav-con__bookmarks">
      <a class="nav-con__bookmarks-logo" [routerLink]="['/home']"
        >CSGODouble.com</a
      >
      <a class="nav-con__bookmarks-pages" [routerLink]="['/home']">Home</a>
      <a class="nav-con__bookmarks-pages" href="#">Deposit</a>
      <a class="nav-con__bookmarks-pages" href="#">Withdraw</a>
      <a class="nav-con__bookmarks-pages" href="#">Provably Fair</a>
      <a class="nav-con__bookmarks-pages" href="#">Affilates</a>
      <a class="nav-con__bookmarks-pages" href="#">Free Coins</a>
      <a class="nav-con__bookmarks-pages" href="#">Support</a>
    </div>
    <app-user></app-user>
  </div>
</nav>
