<div class="rounds">
  <div class="round rounds__red">
    <div class="round__button">
      <button
        type="button"
        (click)="placeBet('red')"
        [disabled]="rolling === true"
        [ngStyle]="{ cursor: rolling ? 'not-allowed' : 'pointer' }"
      >
        1 to 7
      </button>
    </div>
    <div class="round__details">
      <span>{{ betArray["red"] }}</span>
    </div>
    <div class="round__list">
      <div class="round__list-total">
        <span>Total bet</span>
        <span>0</span>
      </div>
      <div class="round__list-players">
        <ul>
          <li *ngIf="betArray['red'] > 0">
            <a href="{{ player.steam }}" class="player">
              <img src="{{ player.avatar }}" alt="" />
              <i>{{ player.user }}</i>
            </a>
            <span>{{ betArray["red"] }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="round rounds__green">
    <div class="round__button">
      <button
        type="button"
        (click)="placeBet('green')"
        [disabled]="rolling === true"
        [ngStyle]="{ cursor: rolling ? 'not-allowed' : 'pointer' }"
      >
        0
      </button>
    </div>
    <div class="round__details">
      <span>{{ betArray["green"] }}</span>
    </div>
    <div class="round__list">
      <div class="round__list-total">
        <span>Total bet</span>
        <span>0</span>
      </div>
      <div class="round__list-players">
        <ul>
          <li *ngIf="betArray['green'] > 0">
            <a href="{{ player.steam }}" class="player">
              <img src="{{ player.avatar }}" alt="" />
              <i>{{ player.user }}</i>
            </a>
            <span>{{ betArray["green"] }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="round rounds__black">
    <div class="round__button">
      <button
        type="button"
        (click)="placeBet('black')"
        [disabled]="rolling === true"
        [ngStyle]="{ cursor: rolling ? 'not-allowed' : 'pointer' }"
      >
        8 to 14
      </button>
    </div>
    <div class="round__details">
      <span>{{ betArray["black"] }}</span>
    </div>
    <div class="round__list">
      <div class="round__list-total">
        <span>Total bet</span>
        <span>0</span>
      </div>
      <div class="round__list-players">
        <ul>
          <li *ngIf="betArray['black'] > 0">
            <a href="{{ player.steam }}" class="player">
              <img src="{{ player.avatar }}" alt="" />
              <i>{{ player.user }}</i>
            </a>
            <span>{{ betArray["black"] }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
