@use "../../../styles.scss" as c;

.inventory {
  width: fit-content;
  border: 1px solid c.$border-light-gray;
  border-radius: 4px;
  margin-bottom: 16px;
  &_header {
    background-color: c.$light-gray-bgc;
    padding: 4px 10px;
    font-weight: 600;
    font-size: 16px;
  }
  &_items {
    padding: 8px 12px;
    &-bots {
      display: flex;
      margin-bottom: 8px;
      button {
        padding: 10px;
        background-color: rgb(245, 245, 245);
        border: 1px solid c.$border-light-gray;
        color: c.$dark-text-color;
        cursor: pointer;
        &:first-child {
          border-radius: 4px 0 0 4px;
        }
        &:last-child {
          border-radius: 0 4px 4px 0;
        }
      }
    }

    &-search {
      display: flex;
      justify-content: space-between;
      input {
        width: 80%;
      }
      select {
        width: 19%;
        color: c.$light-text-color;
      }
      .fields {
        padding: 8px;
        border: 1px solid c.$border-light-gray;
        border-radius: 4px;
      }
    }

    &-con {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 4px;
      margin-top: 8px;

      &--item {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 120px;
        height: 120px;
        background-color: c.$items-bgc;
        color: #fff;
        font-size: 12px;
        cursor: pointer;
        img {
          width: 60px;
        }
        .info {
          display: flex;
          justify-content: space-between;
          width: 100%;
          p {
            text-align: center;
            &:nth-child(2) {
              background-color: c.$tomato-red;
              padding: 4px;
              border-radius: 0 0 0 8px;
            }
          }
        }
        p {
          text-align: center;
        }
      }
    }
  }
}
.item-disabled {
  position: absolute;
  width: 120px;
  height: 120px;
  background-color: c.$empty-items;
  z-index: 999;
}
.clicked {
  -webkit-box-shadow: inset 0px 0px 4px 0px rgba(25, 25, 31, 1);
  -moz-box-shadow: inset 0px 0px 4px 0px rgba(25, 25, 31, 1);
  box-shadow: inset 0px 0px 4px 0px rgba(25, 25, 31, 1);
}
