@use "../../../../styles.scss" as c;

.bets {
  &__amount {
    padding: 0px 12px 12px 12px;
    background-color: c.$light-gray-bgc;
    border: 1px solid c.$border-light-gray;
    border-radius: 4px;
    p {
      display: flex;
      align-items: center;
      height: 40px;
      font-size: 16px;
      font-weight: 600;
      mat-icon {
        font-size: 20px;
        cursor: pointer;
      }
    }
    .your-bet {
      ul {
        display: flex;
        li {
          button {
            padding: 10px;
            background-color: rgb(245, 245, 245);
            border: 1px solid c.$border-light-gray;
            color: c.$dark-text-color;
            cursor: pointer;
          }
        }
      }
      input {
        margin-top: 10px;
        width: 100%;
        padding: 8px;
        border: 1px solid c.$border-light-gray;
        border-radius: 4px;
      }
    }
  }
}
