<main class="main">
  <div class="container">
    <div class="information-panel instruction">
      <span>Your referal Code: MK11001 - <a>update</a></span>
    </div>

    <table class="affiliates">
      <tbody>
        <tr>
          <td>Affiliate Level</td>
          <td>
            <div>
              <mat-icon fontIcon="star"></mat-icon> <span>Bronze </span> (1 coin
              per 300 bet)
            </div>
          </td>
        </tr>
        <tr>
          <td>Visitors</td>
          <td>0</td>
        </tr>
        <tr>
          <td>Depositors</td>
          <td>0/50 to Silver</td>
        </tr>
        <tr>
          <td>Total bet</td>
          <td>0</td>
        </tr>
        <tr>
          <td>Lifetime Earnings</td>
          <td>0</td>
        </tr>
        <tr>
          <td>Available Now</td>
          <td>0</td>
        </tr>
      </tbody>
    </table>
    <button class="collect-btn">Collect Earnings</button>
    <table class="affiliates-data">
      <thead>
        <tr>
          <th>Player</th>
          <th>Joined</th>
          <th>Total Bet</th>
          <th>Commision</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="4">No data available in table</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
