<div class="inventory">
  <div class="inventory_header">
    <span>Inventory: {{ isLogin ? inventoryItems.length : "0" }} items</span>
  </div>
  <div class="inventory_items">
    <div class="inventory_items-search">
      <input class="fields" type="text" placeholder="Search..." />
      <select class="fields">
        <option value="default">Default</option>
      </select>
    </div>
    <div *ngIf="isLogin" class="inventory_items-con">
      <div
        class="inventory_items-con--item"
        *ngFor="let item of inventoryItems; let i = index"
        (click)="selectItem(item, i)"
        [attr.index]="i"
      >
        <p class="value">{{ item.price * 10 }}</p>
        <img
          [src]="item.itemImg"
          [alt]="item.name + ' (' + item.wearWell + ')'"
        />
        <p class="items-name">{{ item.name }} ({{ item.wearWell }})</p>
        <div
          [ngClass]="{ 'item-disabled': selectedItemIndex.includes(i) }"
        ></div>
      </div>
    </div>
    <div *ngIf="!isLogin" class="inventory_items-con">
      <div class="inventory_items-con--item disabled"></div>
      <div class="inventory_items-con--item disabled"></div>
      <div class="inventory_items-con--item disabled"></div>
      <div class="inventory_items-con--item disabled"></div>
      <div class="inventory_items-con--item disabled"></div>
      <div class="inventory_items-con--item disabled"></div>
      <div class="inventory_items-con--item disabled"></div>
      <div class="inventory_items-con--item disabled"></div>
      <div class="inventory_items-con--item disabled"></div>
      <div class="inventory_items-con--item disabled"></div>
      <div class="inventory_items-con--item disabled"></div>
      <div class="inventory_items-con--item disabled"></div>
    </div>
  </div>
</div>
