// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$csgodouble-primary: mat.define-palette(mat.$pink-palette);
$csgodouble-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$csgodouble-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$csgodouble-theme: mat.define-light-theme(
  (
    color: (
      primary: $csgodouble-primary,
      accent: $csgodouble-accent,
      warn: $csgodouble-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($csgodouble-theme);

/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Inter";
  src: url("./assets/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

$light-text-color: rgb(161, 160, 161);
$dark-text-color: rgb(67, 66, 68);
$empty-items: rgb(131, 130, 130);
$items-bgc: rgb(56, 56, 56);
$light-gray-bgc: rgb(246, 245, 246);
$border-light-gray: rgb(235, 235, 235);
$active-gray: rgb(180, 180, 180);
$tomato-red: rgb(209, 71, 68);
$red-info: rgb(244, 225, 226);
$green: rgb(94, 184, 93);
$dark: rgb(46, 45, 46);
$light-green: rgb(225, 240, 223);
$green-text: rgb(108, 130, 106);
$light-blue-text: rgb(159, 191, 223);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  font-family: "Inter";
  font-size: 18px;
}
a {
  text-decoration: none;
  color: $light-text-color;
}
li {
  list-style: none;
}

html,
body {
  height: 100%;
}
mat-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
